body {
    text-align: center;
    background-color: rgb(242, 246, 247);
    user-select: none;
}

#gtdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gt {
    height: 160px;
    width: auto;
    transition: height, 0.1s;
}

#gt:hover {
    height: 180px;
    transition: height, 0.1s;
}

#gt:active {
    height: 150px;
    transition: height, 0.1s;
}

.b {
    margin: 2px;
}